@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
header{
    background: #1C371B ;
    height: 60px;
    position: relative;
    overflow: hidden;
}
header h1{
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 25px;
    padding: 15px;
    float: left;
    margin-left: 350px;
}
header img{
    float: left;
    margin-left: 200px;
    padding: 10px;
    height: 40px;
    position: static;
}
section{
    background: #501111;
    margin: 3% 35% 3% 35%;
    padding: 30px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 7px 13px 37px #000;
    color: #FFFFFF;
}